h1, h2 {
    margin-bottom: 0%;
}

form, footer {
    background-color: rgb(234, 234, 234);
    border-radius: 20px;
    width: 40%;
    margin:auto;
}

form h1 {
    padding:1% 1% 1% 2%;
    color:black;
    font-size: 40px;
    font-style: italic;
    font-weight: 100;
    text-align: left;
}

footer p {
    padding:1% 1% 1% 2%;
}

body {
    text-align: center;
    font-family: 'Harrington', 'Arial';
}